.what {
    &__container {
        width: 1180px;
        display: flex;
        column-gap: 30px;
    }
    &__image {
        flex: 0 1 430px;
    }
    &__text {
        p {
            width: 650px;
            flex: 1 1 auto;
            font-family: Arial;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #333333;
        }
    }
}